<!doctype html>
<html>
  <head>
    <title>Take - Spotify</title>
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/styles/layout.css">
    <style type="text/css">
      #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
    </style>
  </head>

  <body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=424886497911490";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    


    <section id=home>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="box-principal">
              <img src="images/logo.png" alt="Spotify" title="Spotify">
              <div id="login">
                <h1>Get the right music, <br> right now</h1>
                <p><a href="/login" class="button">Log into your Spotify account</a></p>
                <p><div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div></p>
              </div>
            </div>
          </div>


          <div id="loggedin">
            <div id="user-profile">
            <h1>Get the right music, <br> right now</h1>
              </div>
              <div id="oauth">
              </div>
              <button class="btn btn-default" id="obtain-new-token"></button>
            </div>
          </div>

          <script id="user-profile-template" type="text/x-handlebars-template">
            <h1>Logged in as {{display_name}}</h1>
            <div class="media">
              <div class="img-usuario">
                <img class="media-object" width="150" src="{{images.0.url}}" />
              </div>
              <div class="media-body">
                <dl class="dl-horizontal">
                  <dt>Usuário</dt><dd>{{id}}</dd>
                  <dt>Email</dt><dd>{{email}}</dd>
                  <dt>Playlist Spotify:</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
                </dl>
              </div>
            </div>
          </script>
          <script id="oauth-template" type="text/x-handlebars-template"></script>

        </div>
      </div>

      <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script>
        (function() {

          /**
           * Obtains parameters from the hash of the URL
           * @return Object
           */
          function getHashParams() {
            var hashParams = {};
            var e, r = /([^&;=]+)=?([^&;]*)/g,
                q = window.location.hash.substring(1);
            while ( e = r.exec(q)) {
               hashParams[e[1]] = decodeURIComponent(e[2]);
            }
            return hashParams;
          }

          var userProfileSource = document.getElementById('user-profile-template').innerHTML,
              userProfileTemplate = Handlebars.compile(userProfileSource),
              userProfilePlaceholder = document.getElementById('user-profile');

          var oauthSource = document.getElementById('oauth-template').innerHTML,
              oauthTemplate = Handlebars.compile(oauthSource),
              oauthPlaceholder = document.getElementById('oauth');

          var params = getHashParams();

          var access_token = params.access_token,
              refresh_token = params.refresh_token,
              error = params.error;

          if (error) {
            alert('There was an error during the authentication');
          } else {
            if (access_token) {
              // render oauth info
              oauthPlaceholder.innerHTML = oauthTemplate({
                access_token: access_token,
                refresh_token: refresh_token
              });

              $.ajax({
                  url: 'https://api.spotify.com/v1/me',
                  headers: {
                    'Authorization': 'Bearer ' + access_token
                  },
                  success: function(response) {
                    userProfilePlaceholder.innerHTML = userProfileTemplate(response);

                    $('#login').hide();
                    $('#loggedin').show();
                  }
              });
            } else {
                // render initial screen
                $('#login').show();
                $('#loggedin').hide();
            }

            document.getElementById('obtain-new-token').addEventListener('click', function() {
              $.ajax({
                url: '/refresh_token',
                data: {
                  'refresh_token': refresh_token
                }
              }).done(function(data) {
                access_token = data.access_token;
                oauthPlaceholder.innerHTML = oauthTemplate({
                  access_token: access_token,
                  refresh_token: refresh_token
                });
              });
            }, false);
          }
        })();
      </script>
    </section>
  </body>
</html>

