body {
  background-image: url(../images/bg-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: #FFF;
  height: 100%;
  width: 100%;

}

a {
	text-decoration: none;
	color: #fff !important;
}

#login, #loggedin {
display: none;
}
.text-overflow {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 500px;
}

#home { 
	margin-top:5%; 
}

.box-principal {
	height:300px;
	margin:0 auto;
	text-align: center;
	border-right:1px solid #fff;
}

.box-principal p{ 
	margin-top: 15%;
}

img {
	text-align: center;
	margin: 0 auto;
}


.box-propaganda {
	height:300px;
	margin:0 auto;
}



h1 {
	font-family: Gotham-Bold;
	color: #1ED760;
	font-weight: 600;
  text-align: center;
}

.button {
	background-color: rgba(0, 0, 0, 0.8);
	width: 300px;
	padding: 1em;
	color: #fff;
	margin-top: 2em;
}

.img-usuario {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10%;
}


p {
	color: #fff;
	text-decoration: center;
}


/* FONTS */

@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/Gotham-Bold.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Gotham-Black;
    src: url(../fonts/Gotham-Black.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/Gotham-Light.otf);
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: Gotham-Thin;
    src: url(../fonts/Gotham-Thin.otf);
    font-style: normal;
    font-weight: lighter;
}
@font-face {
    font-family: Gotham-Ultra;
    src: url(../fonts/Gotham-Ultra.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/Gotham-Medium.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/Gotham-Book.otf);
    font-style: normal;
    font-weight: normal;
}